doctype html

html(lang="pt_br")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="theme-color" content="#8257E5")

        title Estudar

        link(rel="shortcut icon" href="/images/favicon.png" type="image/png")

        link(rel="stylesheet" href="/Components/index.css")
        link(rel="stylesheet" href="/Components/header.css")
        link(rel="stylesheet" href="/Components/forms.css")
        link(rel="stylesheet" href="/Components/study-styles.css")

        link(href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&family=Poppins:wght@400;600&display=swap" rel="stylesheet")

    body
        #container
            header.page-header
                #top-bar
                    a(href="/")
                        img(src="/images/icons/back.svg" alt="Voltar")
                    
                    img(src="/images/logo.svg" alt="Proffy")

                #header-content
                    strong Esses são os Proffys disponíveis.

                    form#search-teachers.forms(action="/study-filtered" method="GET")
                        div
                            label(for="subject") Matéria
                            select#subject(name="subject")
                                option(value="") Selecione uma opção
                                option(value="1") Artes
                                option(value="2") Biologia
                                option(value="3") Ciências
                                option(value="4") Educação Física
                                option(value="5") Física
                                option(value="6") Geografia
                                option(value="7") História
                                option(value="8") Matemática
                                option(value="9") Português
                                option(value="10") Química

                        div
                            label(for="weekday") Dia da Semana
                            select#weekday(name="weekday")
                                option(value="") Selecione uma opção
                                option(value="1") Domingo
                                option(value="2") Segunda
                                option(value="3") Terça
                                option(value="4") Quarta
                                option(value="5") Quinta
                                option(value="6") Sexta
                                option(value="7") Sábado

                        div
                            label(for="time") Horário
                            input#time(name="time" type="time")

                        button(type="submit") Filtrar

            main#content
                - const subjects = ['something is wrong', 'Artes', 'Biologia', 'Ciências', 'Educação Física', 'Física', 'Geografia', 'História', 'Matemática', 'Português', 'Química'];

                each Article in Articles

                    article
                        header
                            img(src=Article.picture alt=Article.name)

                            div
                                strong #{Article.name}

                                span #{subjects[Article.subject]}

                        p.
                            #{Article.biograph}

                        footer
                            p Preço/Hora
                                strong R$#{Article.cost},00

                            button
                                img(src="/images/icons/whatsapp.svg" alt="Whatsapp")
                                contato Entrar em Contato

                if filtered
                    a#cfilter(href="/study") Cancelar Filtro